---
import Document from '../../layouts/Document.astro';
import Head from '../../layouts/Head.astro';
import Header from '../../components/Header.astro';
import { getCollection } from 'astro:content';
import PostCard from '../../components/PostCard.astro';
import Footer from '../../components/Footer.astro';

const posts = await getCollection('blog');
const sortedPosts = posts.sort(
  (a, b) => b.data.publishedAt.valueOf() - a.data.publishedAt.valueOf(),
);
// class={index === 0 ? 'w-full sm:m-16' : 'w-full sm:w-[calc(50%-0.5rem)]'}
---

<Document>
  <Head />
  <body>
    <Header />
    <main class='flex flex-wrap gap-4 max-w-screen-lg m-auto p-6'>
      {
        sortedPosts.map((post, index) => (
          <a href={`/blog/post/${post.id}`} class='w-full sm:w-[calc(50%-0.5rem)]'>
            <PostCard {...post} />
          </a>
        ))
      }
    </main>
    <Footer />
  </body>
</Document>
