---
import Document from '../../layouts/Document.astro';
import Head from '../../layouts/Head.astro';
import { getCollection } from 'astro:content';
import BlogBody from '../../modules/BlogBody.astro';
import Header from '../../modules/Header.astro';
import Footer from '../../modules/Footer.astro';

// sort desc
const posts = await getCollection('blog').then((data) =>
  data.sort((a, b) => b.data.publishedAt.valueOf() - a.data.publishedAt.valueOf()),
);
---

<Document>
  <Head />
  <body>
    <Header />
    <BlogBody posts={posts} />
    <Footer />
  </body>
</Document>
