---
import Document from '../layouts/Document.astro';
import Head from '../layouts/Head.astro';
import Footer from '../modules/Footer.astro';
import Header from '../modules/Header.astro';
---

<Document>
  <Head />
  <body>
    <Header />
    <Footer />
  </body>
</Document>
