---
import '@fontsource/pretendard';
import Document from '../layouts/Document.astro';
import BaseHead from '../layouts/BaseHead.astro';
import Header from '../layouts/Header.astro';
---

<Document>
  <head>
    <BaseHead />
  </head>
  <body>
    <Header />
  </body>
</Document>
