---
import Document from '../layouts/Document.astro';
import Head from '../layouts/Head.astro';
import Header from '../components/Header.astro';
import { getCollection } from 'astro:content';

const a = await getCollection('categories');
---

<Document>
  <Head />
  <body>
    <Header />
  </body>
</Document>
