---
import Document from '../layouts/Document.astro';
import Head from '../layouts/Head.astro';
import Header from '../components/Header.astro';
---

<Document>
  <Head />
  <body>
    <Header />
  </body>
</Document>
