---
const today = new Date();
---

<footer class='px-4 pt-4 pb-16 text-center'>
  <p>
    Contact
    <a href='mailto:sun.jaeyun98@gmail.com' class="text-accent-foreground hover:underline underline-offset-2">@sun.jaeyun98</a>
  </p>
  <p class='text-sm text-muted-foreground'>
    &copy; {today.getFullYear()} Sun-JaeYun. All rights reserved.
  </p>
</footer>
