---
import { SITE_TITLE } from '../consts';
import SunIcon from '../icons/SunIcon.astro';
---

<header class="p-4 sm:p-6">
  <nav class='flex'>
    <a href='/public' class='flex items-center gap-2'>
      <SunIcon />
      <h2 class='text-xl font-semibold'>
        {SITE_TITLE}
      </h2>
    </a>
  </nav>
</header>
