---
import type { CollectionEntry } from 'astro:content';
import PostCard from './PostCard.astro';

type Props = {
  prevPost: CollectionEntry<'blog'> | undefined;
  nextPost: CollectionEntry<'blog'> | undefined;
};

const { prevPost, nextPost } = Astro.props;
---

<div class='flex justify-center gap-4 flex-wrap p-8'>
  {
    prevPost && (
      <a href={`/blog/post/${prevPost.id}`} class='w-full max-w-lg min-w-56'>
        <section class='flex flex-col gap-2 '>
          <div class='flex items-center gap-2'>
            <svg
              xmlns='http://www.w3.org/2000/svg'
              width='24'
              height='24'
              viewBox='0 0 24 24'
              fill='none'
              stroke='currentColor'
              stroke-width='2'
              stroke-linecap='round'
              stroke-linejoin='round'
            >
              <path d='m12 19-7-7 7-7' />
              <path d='M19 12H5' />
            </svg>
            <h4 class='text-xl font-bold'>이전 포스트</h4>
          </div>
          <PostCard {...prevPost} />
        </section>
      </a>
    )
  }
  {
    nextPost && (
      <a href={`/blog/post/${nextPost.id}`} class='w-full max-w-lg min-w-56'>
        <section class='flex flex-col gap-2 '>
          <div class='flex items-center gap-2 self-end'>
            <h4 class='text-xl font-bold'>다음 포스트</h4>
            <svg
              xmlns='http://www.w3.org/2000/svg'
              width='24'
              height='24'
              viewBox='0 0 24 24'
              fill='none'
              stroke='currentColor'
              stroke-width='2'
              stroke-linecap='round'
              stroke-linejoin='round'
            >
              <path d='M5 12h14' />
              <path d='m12 5 7 7-7 7' />
            </svg>
          </div>
          <PostCard {...nextPost} />
        </section>
      </a>
    )
  }
</div>
