---
import type { InferEntrySchema } from 'astro:content';

interface Props {
  data: InferEntrySchema<'blog'>;
}

const { data } = Astro.props;
const { title, description, publishedAt, category } = data;
---

<article class='p-4 border rounded-lg'>
  <p class='text-sm'>{category}</p>
  <h2 class='text-xl'>{title}</h2>
  <p class='text-xs text-muted-foreground'>{description}</p>
  <!--<time datetime={data.publishedAt.toISOString()}>-->
  <!--  {data.publishedAt.toLocaleDateString('ko-kr')}-->
  <!--</time>-->
</article>
