---
import type { InferEntrySchema } from 'astro:content';

type Props = InferEntrySchema<'blog'>;
const { title, publishedAt, category } = Astro.props;
---

<main
  class:list={[
    'post',
    'max-w-screen-lg m-auto p-8 pb-48',
  ]}
>
  <article>
    <div class='flex flex-col items-center mb-24'>
      <p>{category}</p>
      <h1 class='text-3xl font-bold'>{title}</h1>
      <time datetime={publishedAt.toISOString()} class='text-muted-foreground'>
        {publishedAt.toLocaleDateString('ko-kr')}
      </time>
    </div>
    <slot />
  </article>
</main>
