<main
  class:list={[
    'max-w-screen-lg m-auto p-8 leading-8',
    '[&_h2]:text-2xl [&_h2]:font-bold [&_h2]:my-8',
    '[&_a]:text-accent-foreground [&_a:visited]:text-destructive [&_a]:underline',
    '[&_ol]:list-decimal [&_ol]:my-4',
    '[&_ul]:list-disc [&_ul]:my-4',
    '[&_.contains-task-list]:list-none [&_.contains-task-list]:leading-6',
    '[&_hr]:my-8 [&_code]:bg-muted [&_code]:p-1 [&_code]:rounded-sm [&_blockquote]:my-4 [&_blockquote]:border-l-4 [&_blockquote>p]:pl-2',
  ]}
>
  <article>
    <slot />
  </article>
</main>
