---
import type { MarkdownHeading } from 'astro';

interface Props {
  class: string;
  headings: MarkdownHeading[];
}

const { class: className, headings } = Astro.props;
---

<nav class={className} aria-label='목차'>
  <ul class='border-l-2'>
    {
      headings.map((e) => (
        <li class:list={[`ml-${e.depth * 2}`, 'py-1 pr-1 duration-200 hover:translate-x-0.5']}>
          <a href={`#${e.slug}`} class='text-muted-foreground break-keep hover:text-foreground'>
            {e.text}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
