---
import Document from '../../layouts/Document.astro';
import Head from '../../layouts/Head.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
---

<Document>
  <Head />
  <body>
    <Header />
    <main class='flex flex-wrap gap-4 max-w-screen-md m-auto p-6'>
      <section class='w-full p-4 border-b'>
        <h2>daum-postcode-webview</h2>
      </section>
    </main>
    <Footer />
  </body>
</Document>
